.user{
    width: 100%;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 5vh;
    font-size: 1.4rem;
}
.user_pfp{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 50px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.user_pfp_img_border{
    width: 150px;
    height:150px;
    padding: 3px;
    border-radius: 1000px;
    border: 2px solid #154360;  
}
.user_pfp_img{
    width: 100%;
    height: 100%;
    border-radius: 1000px;
    background-image: url(img/pfp.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-origin: padding-box;
}
.user_pfp p{
    font-size: 1.7rem;
    color: rgba(0, 0, 0, 0.8);
}
.user_info {
    width: 100%;
    height: fit-content;
    display: flex;
}
.user_dados,.user_contato{
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px 0;
}
.user_dados{
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.user_contato{
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.user_dados h2,.user_contato h2{
    color: #154360;
    font-size: 1.6rem;
}
.user_dados p,.user_contato p{
    font-weight: 600;
}
.user_dados span,.user_contato span{
    font-weight: normal;
}
.user_dados div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.user_info button{
    width: fit-content;
    text-align: center;
    color: white;
    background-color: #154360;
    padding: 7px 20px;
    border-radius: 5px;
}

@media (pointer: fine){
    .user_info button:hover{
        cursor: pointer;
        transition: all 0.3s;
        background-color: #c0392b;
    }
}

/* Scrollbar */
body::-webkit-scrollbar,.header-main::-webkit-scrollbar {
    display: none;
}
  
/* Hide scrollbar for IE, Edge and Firefox */
body,.header-main {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@media only screen and (max-width: 1200px) {
    .user{
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 992px) {
    .user_info{
        flex-direction: column;
        font-size: 1.35rem;
    }
    .user_dados,.user_contato{
        width: 100%;
        border: unset;
        gap: 25px;
        padding: 10px 10px 15px 10px;
    }
    .user_contato{
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }
    .user_dados{
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .user_dados h2{
        font-size: 1.7rem;
    }
    .user_dados div{
        flex-direction: column;
        width: fit-content;
        align-items: center;
        gap: 20px;
    }
    .user_dados button{
        margin: unset;
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .user_dados h2{
        font-size: 1.65rem;
    }
    .user_dados,.user_contato{
        padding: 13px;
    }
    .user_dados p,.user_contato p{
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 1.4rem;
    }
    .user_dados span,.user_contato span{
        background-color: rgba(0, 0, 0, 0.1);
        padding: 10px 15px;
        border-radius: 100px;
        font-size: 1.2rem;
    }
}