header ul li{
    border-bottom: 2px solid transparent;
}
.detalhes1{
    width: 65%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.25rem;
}
.detalhes1_img{
    width: 100%;
    height: 500px;
    border: 2px solid #154360;
    background-image: url(img/minecraft.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.detalhes1_vendedor{
    width: 100%;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.1);
}
.detalhes1_vendedor h1{
    color: #154360;
    width: 100%;
    height: fit-content;
    font-size: 1.6rem;
    padding: 10px;
}
.detalhes1_vendedor_contato{
    width: 100%;
    height: fit-content;
    padding: 15px 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.detalhes1_vendedor_contato img, .detalhes1_vendedor_comentario img{
    width: 23px;
    height: auto;
    margin-right: 7px;
}
.detalhes1_vendedor_contato p{
    display: flex;
    align-items: center;
    width: 50%;
}
.detalhes1_vendedor_comentario p{
    display: flex;
    align-items: center;
}
.detalhes1_vendedor_comentario{
    width: 100%;
    height: fit-content;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.detalhes1_vendedor_comentario span{
    border: 2px solid #154360;
    border-radius: 5px;
    padding: 10px 15px;
    width: 100%;
    height: fit-content;
    word-wrap: normal;
    font-size: 1.15rem;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.9);
}
.detalhes2{
    width: 35%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
}
.detalhes2 img{
    width: 25px;
    height: auto;
    margin-right: 7px;
}
.detalhes2_preco{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-size: 1.7rem;
}
.detalhes2_info{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.detalhes2_info p{
    color: #154360;
    display: flex;
    align-items: center;
}
.detalhes2_info span{
    background-color: #F5F5F5;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 5px;
    font-size: 1.15rem;
    color: rgba(0, 0, 0, 0.6);
    line-height: 30px;
}
.extras{
    display: flex;
    flex-direction: column;
    gap: 7px 0;
    margin: 7px 10px;
}
.extras p{
    color: #154360;
    border: 2px solid #154360 ;
    border-radius: 50px;
    padding: 5px 10px;
    width: fit-content;
}
.vagas{
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}
.vagas img{
    width: 30px;
    height: auto;
}
#reset_span{
    background-color: unset;
    border: unset;
    color: black;
    margin: 0;
    padding: 0;
    border-radius: 0;
    font-size: 1.3rem;
    line-height: unset;
}
/* Scrollbar */
body::-webkit-scrollbar,.header-main::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
body,.header-main {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@media only screen and (max-width: 1200px) {
    .wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .detalhes1,.detalhes2{
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    .detalhes1,
    .detalhes1_vendedor_comentario span{
        font-size: 1.1rem;
    }
    .detalhes2{
        font-size: 1.2rem;
    }
    .detalhes2_info span
    {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 768px) {
    .detalhes1_img{
        height: 350px;
    }
    .detalhes1_vendedor_contato{    
        flex-direction: column;
    }
    .detalhes1_vendedor_contato p{
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .detalhes1_img{
        height: 275px;
    }
}